<header class="c-header">
  <div class="c-header__head">
    <div  class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="/assets/img/common/logo.svg" alt="Logo"></a></div>
    <h1 class="c-header__title">Tuyển sinh Y Dược</h1>
  </div>
  <nav class="c-header__nav">
    <a href="#">Trang chủ</a>
    <a href="">Ngành nghề</a>
    <a href="">Bản tin</a>
    <a href="">Đại học</a>
    <a href="">Cao đẳng</a>
    <a href="">Trung Cấp</a>
    <a href="">Tại chức</a>
    <a href="">Liên thông</a>
    <a href="">Văn bằng 2</a>
    <a href="">Điểm chuẩn</a>
    <a href="">Đề thi - Đáp án</a>
  </nav>
</header>
